#root {
  background-color: rgba(34, 35, 34, 0.04);
  height: 100vh;
}

.ui.segment {
  margin: 30px 100px;
}

h1 {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 12px;
}

.logo {
  width: 40%;
  height: 130px;
  background-color: chartreuse;
  text-align: center;
  margin: 25px auto;
}

.equal.width.fields.form-column {
  display: flex;
  flex-direction: column;
}

.ui.button {
  width: 140px;
  margin-top: 20px;
  margin-left: 7px;
}

label {
  padding-top: 12px;
}