@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'), url(../../fonts/Montserrat-Regular.ttf) format('truetype');
}


h2 {
  text-align: center;
  font-family: Montserrat, serif;
  margin-left: 50px
}

.fields {
  padding: 20px 80px;
}

.ui.button {
  /* margin-left: 130px; */
  margin-top: 40px;
}

.ui.button.update {
  margin-left: 80px;
}

.ui.button.newtrip {
  background-color: orange;
  margin: 50px 35%;
  width: 200px;
  text-align: center;
}

.ui.card.card-profile {
  font-size: 15px;
  width: 90%;
}