h2 {
  text-align: center;
}

.fields {
  padding: 20px 80px;
}

.ui.button {
  margin-left: 130px;
  margin-top: 40px;
}

.ui.button.update {
  margin-left: 80px;
}

.ui.button.newtrip {
  background-color: orange;
  margin: 50px 35%;
  width: 200px;
  text-align: center;
}

span {
  font-size: 40px;
  
}