@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'), url(../../fonts/Montserrat-Regular.ttf) format('truetype');
}

main {
  background-color: rgba(34, 35, 34, 0.04);
  height: 100vh;
}

.ui.header {
  padding: 40px;
}

.ui.card.aboutPage {
  margin: 20px auto;
  width: 80%
}

h2 {
  text-align: left !important;
  padding-top: 12px;
}

#road-text {
  font-size: x-large;
  margin: 10px 10% 10px 20%;
}

.image.pic {
  width: 100%;
}

.columnInCard {
  width: 300px;
  height: 400px;
}

p {
  font-family: Montserrat, serif;
  font-size: 22px !important;
}

div.justified.description {
  font-family: Montserrat, serif;
  width: 250px
}

.icon {
  margin-bottom: 5px;
}