main {
  height: 100vh;
  z-index: -1;
  overflow: hidden;
}
.background {
  background-image: url(../../images/home_background.png);
  /* background-color: cyan; */
  width: 100%;
  height: 400px;
  text-align: center;
}

.browse-trips {
  display: flex;
  justify-content: center;
  height: 120px;
}

.browse-block {
  background-color: rgba(34, 35, 34, 0.04);
  z-index: 1;
}

a.trip-block {
  margin: 0 10px
}

